{% load static %}

<header>
  <div class="header-container">
    <a href="{% url 'products:product-list' %}" class="header__logo">
      <img src="{% static 'img/logo.svg' %}" alt="{{ site_name }}">
      <p class="logo-text">{{ site_name }}</p>
    </a>
    <nav class="header__nav">
      <ul>
        <li><a href="{% url 'products:product-list' %}">Products</a></li>
        <li><a href="{% url 'products:guides' %}">Guides & Recipes</a></li>
        <li><a href="#">Community</a></li>
        <li><a href="#">Resources</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </nav>
    {% if user.is_authenticated %}
    <div class="header__user-actions">
      <a href="{% url 'users:account' %}" class="user-icon" aria-label="My Account">
        <img src="{% static 'img/icons/User_alt.svg' %}" alt="User Account">
      </a>
      <a href="{% url 'orders:cart' %}" class="cart-icon" aria-label="Shopping Cart">
        <img src="{% static 'img/icons/Shopping_bag.svg' %}" alt="Shopping Cart">
      </a>
      <form method="post" action="{% url 'users:logout' %}" class="logout-form">
        {% csrf_token %}
        <button type="submit" class="button button--logout">Logout</button>
      </form>
    </div>
    {% else %}
    <div class="header__auth-buttons">
      <a href="{% url 'users:login' %}" class="button button--secondary">Sign in</a>
      <a href="{% url 'users:register' %}" class="button button--primary">Register</a>
    </div>

    {% endif %}
  </div>
</header>
